*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E);
    background-size: 200% 200%;
    /* animation: colors 8s ease infinite; */
    }

a{
    text-decoration: none;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.name{
    font-style: italic;
    font-weight: 500;
    opacity: 0.8;
}


.profession{
    padding: 20px;
    font-weight: 200;
}


.profile{
    margin-top: 25px;
    width: 150px;
    border-radius: 100px;
    border: 1px solid white;
}



.socialMediaContent{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMedia{
    display: flex;
    justify-content: start;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.socialMedia, a{
    text-align: center;
}

.socialLine{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(84, 180, 53, 1);
    border-radius: 20px;
    margin: 8px;
    height: 50px;
    transition: 0.4s ease;
    border: 1px solid black;
}

.socialLine:hover{
    box-shadow: 4px 5px 8px black;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease;
    background-color: rgba(84, 180, 53, 0.1);
}

@keyframes colors {

    0%{
        background-position: 0% 50%
    }

    50%{
        background-position: 100% 50%
    }

    100%{
        background-position: 0% 50%
    }
}