body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #00FFD1, #31C6D4, #FFFF00, #FF1E1E);
    background-size: 200% 200%;
    animation: colors 8s ease infinite;
    }

a{
    text-decoration: none;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}


.profile{
    margin-top: 25px;
    width: 180px;
    border-radius: 100px;
}

.socialMediaContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socialMedia{
    display: flex;
    justify-content: start;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.socialMedia, a{
    text-align: center;
}

.socialLine{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54B435;
    border-radius: 20px;
    margin: 15px;
    height: 50px;
}

@keyframes colors {

    0%{
        background-position: 0% 50%
    }

    50%{
        background-position: 100% 50%
    }

    100%{
        background-position: 0% 50%
    }
}